
/* nav-bar start*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CC5500;
    color: white;
    
}

.brand-title{
    font-size: 2.5rem;
    margin: .5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    
}

.navbar-links li {
    list-style: none;
    
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;

}

.navbar-links li:hover {
background-color: #eec61f;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


@media (max-width: 700px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
   display: none;
   width: 100%;
  }

  .navbar { 
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a{
        padding: .5rem 1rem;
    }

    .navbar-links .active {
        display: flex;
    }
}
/* nav-bar end*/

/*explore section*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Audiowide', cursive;;
}

a {
    text-decoration: none;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#explore-page{
    background-image: url(camera.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#explore-page::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100;
    width: 100;
    background-color: black;
    opacity: .4;
    z-index: -1;
}

/* H1 Explore page animation*/ 
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 10px;
  font-family: 'Audiowide', cursive;;
}
body {
  margin: 0;
  padding: 0;
}

/* Animated h1 */
h1 {
  padding: 5px;
  font-size: 6rem !important;
  color: white;
  text-shadow: 2px 2px 8px #CC5500;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1)
}

h1 span {
display: inline-block;
opacity: 0;
filter: blur(4px);
}

h1 span:nth-of-type(1) {
animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h1 span:nth-of-type(2) {
animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h1 span:nth-of-type(3) {
animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h1 span:nth-of-type(4) {
animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h1 span:nth-of-type(5) {
animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes scale {
100% {
  transform: scale(1);
}
}

@keyframes fade-in {
100% {
  opacity: 1;
  filter: blur(0);
}
}

/* end of Animated H1 */

a {
  text-decoration: none;
}

/* End of h1 */

#explore-page .cta {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 10px;
    color: #CC5500;
    background-color: rgba(255, 255, 255, 0.788);
    border: 2px solid #CC5500;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}

#explore-page .cta:hover{
    color: white;
    background-color: #CC5500;
}
/*end of explore section*/


/* services section */
#services {
    background-image: url(autum.jpg);  
}
.section-title {
  font-size: 10rem !important;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 8px #CC5500;
  position:  relative; bottom: 20px ;
}

.servicetop {
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  line-height: 1.5;
  transform: translateY(-120%);
  text-shadow: 2px 2px 8px black;
}

/* Gallery Carousel*/
.content {
    height: 52rem;
    width: 93.5rem;
    border-radius: 2.5rem;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    position:  relative; bottom: 600px; 
    box-shadow: 2px 2px 8px #eec61f;
  }
  input {
    display: none;
  }
  .slides {
    display: flex;
    width: 500%;
    height: 100%;
  }
  .sslide {
    width: 20%;
    transition: 0.6s;
  }
  .sslide img {
    width: 100%;
    height: 100%;
  }
  #slide1:checked ~ .s1 {
    margin-left: 0;
  }
  #slide2:checked ~ .s1 {
    margin-left: -20%;
  }
  #slide3:checked ~ .s1 {
    margin-left: -40%;
  }
  #slide4:checked ~ .s1 {
    margin-left: -60%;
  }
  #slide5:checked ~ .s1 {
    margin-left: -80%;
  }
  .navigation {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
  }
  .bar {
    width: 2rem;
    height: 2rem;
    border: 2px solid #CC5500;
    border-radius: 50%;
    margin: 0.4rem;
    cursor: pointer;
  }
  .bar:hover {
    background-color: #CC5500;
    transition: 0.2s;
  }
  @media (max-width: 500px) {
    .content {
      height: 18rem;
      width: 35rem;
      border-radius: 1rem;
      overflow: hidden;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    img {
      max-width: 100%;
    }
    .navigation {
      bottom: 0.8rem;
    }
    .bar {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
/* End of Gallery Carousel*/

.paragraphe2 {
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  text-shadow: 2px 2px 8px black;
  position: relative; bottom: 500px;
  line-height: 1.5;
}


/* end of services section*/

/* about me section */
#About {
  background-image: url(tree.jpg);
}
/* end of about me section */

/* wall art section gallery*/

.images-gallery img {
  max-width: 100%;
  vertical-align: middle;
}
.images-gallery {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding: 1.5em;
}
.masonry-wrapper {
  padding: 1.5em;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}
.masonry {
  columns: 1;
  column-gap: 10px;
}
.masonry-item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
      columns: 2;
  }
}
@media only screen and (min-width: 1024px) {
  .masonry {
      columns: 3;
  }
}
@media only screen and (max-width: 767px) {
  .masonry-item {
      display: block;
  }
  .masonry-item img {
      display: block;
      margin: 0 auto;
  }
}
.masonry-item, .masonry-content {
  border-radius: 4px;
  overflow: hidden;
}
.masonry-item {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
  transition: filter .25s ease-in-out;
}
.masonry-item:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
}
.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.image__overlay--blur {
  backdrop-filter: blur(5px);
}
.image__overlay--primary {
  background: #009578;
}
.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}
.image__overlay:hover {
  opacity: 1;
}
.image__ovelay:hover > * {
  transform: translateY(0);
}
.image__intro {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
}

